* {
    color: black;
    font-family: Roboto;
}

body {
    background-color: whitesmoke;
}

.post-ig {
    background-color: white;
    width: 500px;
    height: 700px;
}

.header-ig {
    display: flex;
    flex-direction: row;
}


.izq-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.logo-html5 {
    height: 50px;
    width: 50px;
}

.texto-html {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    margin-top: 0px;
    font-size: 15px;
}

.iajustes {
    height: 40px;
    width: 40px;
    margin-left: auto;
    align-self: center;
}

.foto-ig {
    width: 500px;
    height: 400px;
}

.iconos-ig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.izq-iconos {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ilike {
    width: 30px;
    height: 30px;
}

.icomment {
    width: 25px;
    height: 25px;
}

.ienviar {
    width: 30px;
    height: 30px;
}

.iguardar {
    width: 30px;
    height: 30px;
}

.comentarios-ig {
    padding: 0px 10px;
}